/*usuwamy margines z body - warto pamietac i zawsze to robic*/


* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
/*zeby elementy ulozyly sie obok siebie to float stosujemy*/

/* padding - dodajemy, aby tekst był bardziej czytelny*/

.col-1-4 {
	width: 25%;
	float: left;
	border: 3px solid red;
	padding: 15px;
}

.col-1-4:nth-child(odd) {
	background-color: antiquewhite;
}

/*regula ponizej zadziala dla wszystkich rozdzielczosci ponizej 768px*/

/*szerokosc przegladarki taka standardowa 768px, a sczytujemy ja, gdy klikamy na zbadaj i przesuwamy paskiem, to u gory bedzie sie wyswietlac*/

@media (max-width: 768px) {
	.col-1-4 {
		width: 50%;
	}
	
}