a {
	font-size: 3em;
}

/*kolor czerowny zadziala tylko dla linku, ktory posiada atrybut title*/ 

a[title] {
	color: red;
}

a[title="Link 3"] {
	color: green;
}

a[title~="Link"] {
	color: yellow;
}

/*chce, aby tylko linki zakonczone na .pl byly koloru pomaranczowego*/

a[href*=".pl"] {
	color: orange;
}

/*tylko elementy, ktorych atrybut zaczyna się od T będę miały kolor blueviolet*/

a[title^="T"] {
	color: blueviolet;
}

/*tylko elementy konczace sie na .com beda mialy kolor palegreen*/

a[href$=".com"] {
	color: palegreen;
}