body {
	background-color: beige;
	height: 3000px;
}

.background {
	height: 600px;
	margin: auto;
/*	background-image: url(../img/Truskawka.jpg);*/
/*	background-repeat: no-repeat;*/
/*	background-position: center;*/
/*	background-attachment: fixed;*/
/*	background-size: cover;*/
	
	
/*zapis skrocony	*/
	background: #fff url(../img/Truskawka.jpg) fixed center;
	background-size: cover;
	
/*koniec zapisu skroconego*/
	
}



/* opcja cover -> bedzie powodowac, ze obrazek bedzie chcial zajac cale tlo*/