#p1::before {
	content: '*';
	color: red;
	font-size: 3em;
}

/*usuwamy domyslne punktatory z listy*/

ul {
	list-style-type: none;
}

/*zmieniamy punktatory w liście na gwiazdkę*/

.list-item::before {
	content: '* ';
}

/*dodajemy gwiazdkę po tekście w liście*/

.list-item::after {
	content: ' *';
}

/*jak chcemy zmienic np. gwiazdke na kwadracik to szukamy unicode'u na kwadrat i wpisujemy w pojedyncze cudzyslowy*/

/*pseudoelement first letter*/

#p2::first-letter {
	color: red;
	font-size: 1.5em;
}

/*pseudoselement first-line*/

#p3::first-line {
	color: green;
	font-size: 1.5em;
}