#p1::before {
	content: '*';
	color: red;
	font-size: 3em;
}

/*usuwamy domyslne punktatory z listy*/

ul {
	list-style-type: none;
}

/*zmieniamy punktatory w liście na gwiazdkę*/

.list-item::before {
	content: '* ';
}

/*dodajemy gwiazdkę po tekście w liście*/

.list-item::after {
	content: ' *';
}

